{% load bootstrap4 %}
{% load static %}


<div class="card mb-3">
    <div class="card-header bg-primary">
        <h5>申し込みカード</h5>
    </div>
    <div class="card-body bg-light">
        <table class="table table-bordered">
            <tr class="d-flex flex-row">
                <th class="bg-primary col-2">
                    {% bootstrap_label form.user_number.label %}
                    <span class="badge badge-danger float-right">必須</span></th>
                <td class="col-2 border-right-0">
                    {% bootstrap_field form.user_number show_label=False %}
                </td>
                <td class="col-8 bg-secondary">
            </tr>
            <tr class="d-flex flex-row">
                <th class="bg-primary col-2">利用者氏名</th>
                <td class="col-2">
                    {% bootstrap_field form.first_name show_label=False %}
                </td>
                <td class="col-2">
                    {% bootstrap_field form.second_name show_label=False %}
                </td>

                <th class="bg-primary col-2">利用者シメイ</th>
                <td class="col-2">
                    {% bootstrap_field form.first_name_kana show_label=False %}
                </td>
                <td class="col-2">
                    {% bootstrap_field form.second_name_kana show_label=False %}
                </td>
            </tr>
            <tr class="d-flex flex-row">
                <th class="bg-primary col-2">その他情報</th>
                <td class="col-2">
                    {% bootstrap_field form.age %}
                </td>
                <td class="col-2">
                    {% bootstrap_field form.height addon_after='cm'%}
                </td>
                <td class="col-2">
                    {% bootstrap_field form.wight addon_after='<p>kg</p>'%}
                </td>
                <td class="col-2">
                    {% bootstrap_field form.foot addon_after='<p>cm</p>'%}
                </td>
            </tr>
        </table>
        <table class="table table-bordered">
            <tr class="d-flex flex-row">
                <th class="bg-primary col-2">
                    {% bootstrap_label form.rental_start_date.label %}
                    <span class="badge badge-danger float-right">必須</span>
                </th>
                <td class="col-2">
                    {% bootstrap_field form.rental_start_date show_label=False %}
                </td>
                <th class="bg-primary col-2">
                    {% bootstrap_label form.rental_end_date.label %}
                    <span class="badge badge-danger float-right">必須</span>
                </th>
                <td class="col-2">
                    {% bootstrap_field form.rental_end_date show_label=False %}
                </td>
                <th class="bg-primary col-2">
                    {% bootstrap_label form.rental_menu.label %}
                    <span class="badge badge-danger float-right">必須</span>
                </th>
                <td class="col-2">
                    {% bootstrap_field form.rental_menu show_label=False %}
                </td>
            </tr>

            <tr class="d-flex flex-row">
                <th class="bg-primary col-2">
                    {% bootstrap_label form.base_fee.label %}
                    <span class="badge badge-danger float-right">必須</span>
                </th>
                <td class="col-2">
                    {% bootstrap_field form.base_fee show_label=False %}
                </td>
                <th class="bg-primary col-2">
                    {% bootstrap_label form.discount.label %}
                </th>
                <td class="col-2">
                    {% bootstrap_field form.discount show_label=False %}
                </td>
                <th class="bg-primary col-2">
                    {% bootstrap_label form.subtotal_fee.label %}
                    <span class="badge badge-danger float-right">必須</span>
                </th>
                <td class="col-2">
                    {% bootstrap_field form.subtotal_fee show_label=False %}
                </td>
            </tr>
        </table>
    </div>
</div>
