{% load bootstrap4 %}
{% load static %}


<div class="card mb-3">
    <div class="card-header bg-primary">
        申し込みカード{{ prefix }}
    </div>
    <div class="card-body bg-light">
        <div class="d-flex flex-row">
            {% bootstrap_field form.user_number label_class='text-primary' %}
            {% bootstrap_field form.rental_start_date label_class='text-primary' %}
            {% bootstrap_field form.rental_end_date label_class='text-primary' %}
        </div>
        <div class="d-flex flex-row">
            {% bootstrap_field form.first_name %}
            {% bootstrap_field form.second_name %}
            {% bootstrap_field form.first_name_kana label_class='text-primary' %}
            {% bootstrap_field form.second_name_kana label_class='text-primary' %}
        </div>

        <div class="d-flex flex-row">
            {% bootstrap_field form.age %}
            {% bootstrap_field form.height %}
            {% bootstrap_field form.wight %}
            {% bootstrap_field form.foot %}
        </div>
        <div class="d-flex flex-row">
            {% bootstrap_field form.rental_menu label_class='text-primary' %}
            {% bootstrap_field form.base_fee label_class='text-primary' %}
            {% bootstrap_field form.discount %}
            {% bootstrap_field form.subtotal_fee label_class='text-primary' %}
        </div>
    </div>
</div>
