{% load bootstrap4 %}
<div class="card mb-3">
    <div class="card-header bg-warning">
        契約者情報
    </div>
    <div class="card-body bg-light">
        <div class="d-flex flex-row">
            {% bootstrap_field form.customer_number %}
        </div>
        <div class="d-flex flex-row">
            {% bootstrap_field form.first_name %}
            {% bootstrap_field form.second_name %}
            {% bootstrap_field form.first_name_kana %}
            {% bootstrap_field form.second_name_kana %}
        </div>
        <div class="d-flex flex-row">
            {% bootstrap_field form.zip_code %}
            <div class="flex-grow-1">
                {% bootstrap_field form.address%}
            </div>
        </div>

        <div class="d-flex flex-row">
            {% bootstrap_field form.phone %}
        </div>
    </div>
</div>