{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}
{% load js %}

{% block extrahead %}
    <script type="text/javascript">
        var g_item_summary_list = {{ item_summary_list | js}};

    </script>
    <script type="text/html" id="empty_form">
        {% include 'contract/base_rental_empty_form.html' with form=inline.empty_form %}
    </script>
    <script type="text/javascript" src="{% static 'js/contract/rental_contract.js' %}"></script>

{% endblock %}

{% block title %}レンタル登録{% endblock %}
{% block content %}
    <h3 class="border-bottom">レンタル新規登録</h3>
    <form method="post" class="form-horizontal mb-3" name="rental_form">
        {% csrf_token %}
        <div class="sticky-top bg-white">

            <table class="table table-bordered">
                <tr class="d-flex flex-row">
                    <th class="bg-warning col-2">
                        {% bootstrap_label form.customer_number.label %}
                    </th>
                    <td class="col-2 border-right-0">
                        {% bootstrap_field form.customer_number show_label=False %}
                    </td>
                    <th class="bg-warning col-2">代表者氏名</th>
                    <td class="col-2 border-right-0">
                        {% bootstrap_field form.customer_name show_label=False %}
                    </td>
                    <th class="bg-warning col-2">
                        {% bootstrap_label form.rental_date.label %}
                        <span class="badge badge-danger float-right">必須</span>
                    </th>
                    <td class="col-2">
                        {% bootstrap_field form.rental_date show_label=False %}
                    </td>
                </tr>
                <tr class="d-flex flex-row">
                    <th class="bg-warning col-2">
                        {% bootstrap_label form.all_fee.label %}
                        <span class="badge badge-danger float-right">必須</span>
                    </th>
                    <td class="col-2">
                        {% bootstrap_field form.all_fee show_label=False addon_after='<input type="button" class="btn btn-secondary" value="計算" id="id_fee_sum">' %}
                    </td>
                    <th class="bg-warning col-2">
                        {% bootstrap_label form.all_discount.label %}
                    </th>
                    <td class="col-2">
                        {% bootstrap_field form.all_discount show_label=False %}
                    </td>
                    <th class="bg-warning col-2">
                        {% bootstrap_label form.total_fee.label %}
                        <span class="badge badge-danger float-right">必須</span>
                    </th>
                    <td class="col-2">
                        {% bootstrap_field form.total_fee show_label=False %}
                    </td>
                </tr>
            </table>
        </div>
        {{ inline.management_form }}
        <div id="id_rental_form">
            {% for item in inline %}
                {% include 'contract/base_rental_empty_form.html' with form=item %}
            {% endfor %}
        </div>
        <button type="button" class="btn btn-primary float-right" id="add_more">申込カード追加</button>
        <button type="submit" class="btn btn-primary col-7 d-block mx-auto">保存</button>

    </form>


    <!-- モーダル・ダイアログ -->
        <div class="modal fade" id="modal-user-select" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">利用者リスト</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>利用者番号</th>
                                <th>お名前</th>
                            </tr>
                        </thead>
                        <tbody id="id_user_list">
                        <!--リストの中身はモーダル呼び出し時にJS側で作成する -->

                        </tbody>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

