{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}
{% load js %}

{% block extrahead %}
    <script type="text/javascript">
        var g_rental_menu_list = {{ rental_menu_list | js}};

    </script>
    <script type="text/html" id="empty_form">
        {% include 'contract/base_rental_empty_form.html' with form=inline.empty_form prefix='__prefix__'%}
    </script>
    <script type="text/javascript" src="{% static 'js/contract/rental_contract.js' %}"></script>

{% endblock %}

{% block title %}レンタル新規登録{% endblock %}
{% block header %}レンタル新規登録{% endblock %}
{% block content %}
    <div class="d-flex flex-row">
        <div class="col-3">
        <div class="card sticky-sidebar">
            <div class="card-header bg-warning">
                代表者情報
            </div>
            <div class="card-body">
                <form method="post" class="form-horizontal" name="customer_form">
                    {% csrf_token %}
                    {% bootstrap_field form.customer_number %}
                    {% bootstrap_field form.customer_name %}
                    {% bootstrap_field form.all_fee %}
                    {% bootstrap_field form.all_discount %}
                    {% bootstrap_field form.total_fee %}
                </form>
            </div>
        </div>
        </div>
        <form method="post" class="form-horizontal col-9" name="rental_form">

            {{ inline.management_form }}
            <div id="id_rental_form">
                {% for item in inline %}
                    {% include 'contract/base_rental_empty_form.html' with form=item prefix=forloop.counter0 %}
                {% endfor %}
            </div>
            <button type="button" class="btn btn-primary float-right" id="add_more">申込カード追加</button>
            <button type="submit" class="btn btn-primary col-7 d-block mx-auto">保存</button>
        </form>
    </div>


{% endblock %}

