{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}代表者検索{% endblock %}
{% block header %}代表者検索{% endblock %}
{% block content %}
    <div class="d-flex flex-row">
        <div class="col-3">
            <div class="card sticky-sidebar">
                <div class="card-header">代表者検索条件</div>
                <div class="card-body">
                    <form method="get">
                        <div class="d-flex flex-row">
                            {% bootstrap_field form.customer_number %}
                        </div>
                        <div class="d-flex flex-row">
                            {% bootstrap_field form.first_name %}
                            {% bootstrap_field form.second_name %}
                        </div>
                        <div class="d-flex flex-row">
                            {% bootstrap_field form.first_name_kana %}
                            {% bootstrap_field form.second_name_kana %}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block shadow mt-5">検索</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-9">
            <table class="table table-bordered table-hover">
                <thead class="bg-primary text-white">
                <tr>
                    <th>代表者番号</th>
                    <th>氏名</th>
                    <th>シメイ</th>
                    <th>前回利用日</th>
                </tr>
                </thead>
                <tbody class="bg-white">
                {% for object in object_list %}
                    <tr>
                        <td><a href = {{ object.customer_detail_url }}>{{ object.customer_number }}</a></td>
                        <td>{{ object.first_name }} {{ object.second_name }}</td>
                        <td>{{ object.first_name_kana }} {{ object.second_name_kana }}</td>
                        <td>{{ object.last_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
                <div class="d-flex">
                <ul class="pagination mx-auto">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><</a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="?{{ query_url }}&page={{i}}">{{i}}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?{{ query_url }}&page={{i}}">{{i}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href=?page={{ page_obj.next_page_number }}">></a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
                    {% endif %}
                </ul>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
