{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">

<head>
<meta charset="UTF-8">
<title>{% block title %}電力顧客管理{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui/jquery-ui.min.css' %}">
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>

<link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">

{% block extrahead %}{% endblock %}

</head>
<nav class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm fixed-top" style="background-color: #e3f2fd;">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#gnavi" aria-label="メニュー">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div id="gnavi" class="collapse navbar-collapse">
        <a href="#" class="navbar-brand">レンタルスキー管理システム</a>
        <ul class="navbar-nav">
            <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">レンタル情報管理</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href={% url 'contract:new_rental_top' %}>レンタル新規登録</a>
                    <a class="dropdown-item" href="#">レンタル情報修正</a>
                    <a class="dropdown-item" href={% url 'contract:search_rental' %}>レンタル情報検索</a>
                </div>
            </li>
            <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">顧客管理</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href={% url 'contract:new_customer' %}>顧客新規登録</a>
                    <a class="dropdown-item" href="#">顧客情報修正</a>
                    <a class="dropdown-item" href={% url 'contract:search_customer' %}>顧客検索</a>
                </div>
            </li>
            <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">予約管理</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">予約登録</a>
                    <a class="dropdown-item" href="#">予約修正</a>
                    <a class="dropdown-item" href="#">予約検索</a>
                </div>
            </li>
            <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">売上管理</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">売上確認</a>
                    <a class="dropdown-item" href="#">Link3-2</a>
                    <a class="dropdown-item" href="#">Link3-3</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">管理者機能</a></li>
        </ul>
    </div>
</nav>

<body>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-area mt-1">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div><!--/.content-area-->
</body>
</html>