{% load bootstrap4 %}

{#<div class="form-group">#}
{#    <div class = "col-xs-12 col-sm-2 col-md-2 col-lg-2">#}
{#        {%  bootstrap_label item.label %}#}
{#    </div>#}
{#    <div class="col-xs-10 col-sm-2 col-md-2 col-lg-2">#}
{#        {% bootstrap_field item show_label=False %}#}
{#    </div>#}
{#</div>#}
<tr class="d-flex flex-row">
    <th class="bg-primary col-2">
        {% bootstrap_label item %}
        {% if require %}
            <span class="badge badge-danger float-right">必須</span>
        {% endif %}
    </th>
    <td class="col-2">
        {% bootstrap_field item show_label=False %}
    </td>
</tr>